
@font-face{ 
font-family:'Bell MT';
src:url('../fonts/BellMT.eot'); 
src:local('Bell MT'),
url('../fonts/BellMT.eot?#iefix') format('fonts/embedded-opentype'),
url('../fonts/BellMT.woff') format('woff'),
url('../fonts/BellMT.ttf') format('truetype'),
url('../fonts/BellMT.svg#Bell MT') format('svg');
font-weight:normal;
font-style:normal; 	
}

